.header__main
	.header__main-menu
		a(href="#")
			img(src="static/images/content/logo.png", alt="Логотип").header__main-logo
		nav.header__main-nav.main-nav
			ul.main-nav__list
				li.main-nav__item
					a(href="category.html").main-nav__link Home
				li.main-nav__item
					a(href="category.html").main-nav__link Recipes
				li.main-nav__item
					a(href="category.html").main-nav__link Article
				li.main-nav__item
					a(href="category.html").main-nav__link Contact    
				li.main-nav__item
					a(href="category.html").main-nav__link Purchase
					