.main-content
	background-image url(../images/content/main-background.png) 
	background-size cover
	height 700px

	&__descr
		width 38%
		transform translateY(490px)

.main-vehicle
	text-transform uppercase
	font-family 'PT Sans', sans-serif
	color $white
	font-size 14px
	font-style normal
	font-weight normal
	line-height 18px

.main-title
	font-size 40px
	font-family 'PT Sans'
	color $white
	font-style normal
	font-weight bold
	line-height 50px
	font-family 'Marck Script'

.main-text
	font-family 'PT Serif'
	color $white
	font-style normal
	font-weight normal
	font-size 14px
	line-height 19px	

.main-text span 
	color $gray-500
	padding-left 5px
		