@import "footer/footer";
@import "header/header";
@import "main-content/main-content";	
@import "news-feed/news-feed";	
@import "follow-our/follow-our";	
@import "navigation/navigation";
@import "small-blocks/small-blocks";