
@font-face 
  font-family 'PT Serif'
  font-style normal
  font-weight 400
  src url('../fonts/pt-serif-v11-cyrillic_latin-regular.eot') 
  src local('PT Serif'), local('PTSerif-Regular')
       url('../fonts/pt-serif-v11-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype')
       url('../fonts/pt-serif-v11-cyrillic_latin-regular.woff2') format('woff2')
       url('../fonts/pt-serif-v11-cyrillic_latin-regular.woff') format('woff')
       url('../fonts/pt-serif-v11-cyrillic_latin-regular.ttf') format('truetype')
       url('../fonts/pt-serif-v11-cyrillic_latin-regular.svg#PTSerif') format('svg')


@font-face 
  font-family 'PT Serif'
  font-style italic
  font-weight 400
  src url('../fonts/pt-serif-v11-cyrillic_latin-italic.eot')
  src local('PT Serif Italic'), local('PTSerif-Italic')
       url('../fonts/pt-serif-v11-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype')
       url('../fonts/pt-serif-v11-cyrillic_latin-italic.woff2') format('woff2')
       url('../fonts/pt-serif-v11-cyrillic_latin-italic.woff') format('woff')
       url('../fonts/pt-serif-v11-cyrillic_latin-italic.ttf') format('truetype')
       url('../fonts/pt-serif-v11-cyrillic_latin-italic.svg#PTSerif') format('svg')


@font-face 
  font-family 'PT Serif'
  font-style normal
  font-weight 700
  src url('../fonts/pt-serif-v11-cyrillic_latin-700.eot')
  src local('PT Serif Bold'), local('PTSerif-Bold')
       url('../fonts/pt-serif-v11-cyrillic_latin-700.eot?#iefix') format('embedded-opentype')
       url('../fonts/pt-serif-v11-cyrillic_latin-700.woff2') format('woff2')
       url('../fonts/pt-serif-v11-cyrillic_latin-700.woff') format('woff')
       url('../fonts/pt-serif-v11-cyrillic_latin-700.ttf') format('truetype')
       url('../fonts/pt-serif-v11-cyrillic_latin-700.svg#PTSerif') format('svg')



@font-face 
	font-family 'PT Sans'
	font-style normal
	font-weight 400
	src url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot')
	src local('PT Sans'), local('PTSans-Regular'),
				url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg')

@font-face
	font-family 'PT Sans'
	font-style italic
	font-weight 400
	src url('../fonts/pt-sans-v11-latin_cyrillic-italic.eot')
	src local('PT Sans Italic'), local('PTSans-Italic'),
				url('../fonts/pt-sans-v11-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-italic.woff2') format('woff2'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-italic.woff') format('woff'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-italic.ttf') format('truetype'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-italic.svg#PTSans') format('svg')
	
@font-face
	font-family 'PT Sans'
	font-style normal
	font-weight 700
	src url('../fonts/pt-sans-v11-latin_cyrillic-700.eot')
	src local('PT Sans Bold'), local('PTSans-Bold'),
				url('../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'), 
				url('../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg')

@font-face 
  font-family 'Caveat'
  font-style normal
  font-weight 400
  src url('../fonts/caveat-v7-latin_cyrillic-regular.eot')
  src local('Caveat Regular'), local('Caveat-Regular')
       url('../fonts/caveat-v7-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype')
       url('../fonts/caveat-v7-latin_cyrillic-regular.woff2') format('woff2')
       url('../fonts/caveat-v7-latin_cyrillic-regular.woff') format('woff')
       url('../fonts/caveat-v7-latin_cyrillic-regular.ttf') format('truetype')
       url('../fonts/caveat-v7-latin_cyrillic-regular.svg#Caveat') format('svg')

@font-face 
  font-family 'Marck Script'
  font-style normal
  font-weight 400
  src url('../fonts/marck-script-v10-latin-regular.eot')
  src local('Marck Script'), local('MarckScript-Regular')
       url('../fonts/marck-script-v10-latin-regular.eot?#iefix') format('embedded-opentype')
       url('../fonts/marck-script-v10-latin-regular.woff2') format('woff2')
       url('../fonts/marck-script-v10-latin-regular.woff') format('woff')
       url('../fonts/marck-script-v10-latin-regular.ttf') format('truetype')
       url('../fonts/marck-script-v10-latin-regular.svg#MarckScript') format('svg')
