.header__main
	
	&-menu
		display flex
		justify-content space-between
		padding 34px 80px 34px 80px

.main-nav
	display flex
	align-items center

	&__list
		display flex
		text-align center
		
	&__link
		font-size 18px	
		font-family 'PT Serif'
		font-style normal
		font-weight normal
		line-height 19px
		color $gray-900
		&:hover
			color $dull-gold
		
	&__item
		padding-right 26px	
		&:last-child
			padding 0





	