section.section
	.follow-our
		h1.follow-our__title Follow our @instagram_name
		.follow-our__images
			img(src="static/images/content/follow-img1.png", alt="follow-img1")
			img(src="static/images/content/follow-img2.png", alt="follow-img2")
			img(src="static/images/content/follow-img3.png", alt="follow-img3")
			img(src="static/images/content/follow-img4.png", alt="follow-img4")
			img(src="static/images/content/follow-img5.png", alt="follow-img5")
			img(src="static/images/content/follow-img6.png", alt="follow-img6")