section.section
	.main-content
		.container
			.main-content__descr
				span.main-vehicle Vehicle
				h1.main-title One of Saturn’s largest rings may be newer than anyone
				p.main-text June 6, 2019  <span>By</span>Rickie Baroch 