section.section
	.container
		.news-feed
			.news-feed__main
				.news-feed__main-posts
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/turism-img.png", alt="turism-img").news-feed__main-post-img
							h1.news-feed__main-post-name Tourism
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/sport-img.png", alt="sport-img").news-feed__main-post-img
							h1.news-feed__main-post-name Sport
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/fashion-img.png", alt="fashion-img").news-feed__main-post-img
							h1.news-feed__main-post-name Fashion
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/clothes-img.png", alt="clothes-img").news-feed__main-post-img
							h1.news-feed__main-post-name clothes
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch		
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/clothes-img2.png", alt="clothes-img2").news-feed__main-post-img
							h1.news-feed__main-post-name clothes
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/fashion-img2.png", alt="fashion-img2").news-feed__main-post-img
							h1.news-feed__main-post-name fashion
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch			
					.news-feed__main-big-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/summer-img.png", alt="summer-img").news-feed__main-post-img
							.news-feed__main-big-post-descr
								h1.news-feed__main-big-post-name summer
								h1.news-feed__main-big-post-title One of Saturn’s largest rings may be newer than anyone
								p.news-feed__main-big-post-employment June 6, 2019    <span>By</span> Rickie Baroch    6 comments
								p.news-feed__main-big-post-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem	
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/autumn-img.png", alt="autumn-img").news-feed__main-post-img
							h1.news-feed__main-post-name autumn
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch			
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/clothes-img3.png", alt="clothes-img3").news-feed__main-post-img
							h1.news-feed__main-post-name clothes
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch			
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/summer-img2.png", alt="summer-img2").news-feed__main-post-img
							h1.news-feed__main-post-name summer
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch
					.news-feed__main-post
						a(href="#").news-feed__main-post-link
							img(src="static/images/content/summer-img3.png", alt="summer-img3").news-feed__main-post-img
							h1.news-feed__main-post-name summer
							h1.news-feed__main-post-title One of Saturn’s largest rings may be newer than anyone
							p.news-feed__main-post-employment June 6, 2019    <span>By</span> Rickie Baroch
				.news-feed__main-pagination
					ul.news-feed__main-paginators
						a(href="#").news-feed__main-paginators-prev-arrow older post
							+icon('prev', 'news-feed__main-paginators-prev-icon')
						a(href="#")
							li.news-feed__main-paginators-paginator 1
						a(href="#")
							li.news-feed__main-paginators-paginator 2
						a(href="#")
							li.news-feed__main-paginators-paginator 3
						a(href="#")
							li.news-feed__main-paginators-paginator ...
						a(href="#")
							li.news-feed__main-paginators-paginator 8
						a(href="#").news-feed__main-paginators-next-arrow next post
							+icon('next', 'news-feed__main-paginators-next-icon')
			.news-feed__side
				h1.news-feed__side-author-name About the author
				.news-feed__side-author
					img(src="static/images/content/author-img.png", alt="author-img")
					.news-feed__side-author-title Kate Willems
					.news-feed__side-author-employment Food & cooking bloger
					.news-feed__side-author-text Hi, I'm Sonia. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
					a(href="#").news-feed__side-author-link
						h1.news-feed__side-author-link-title continue reading
				h1.news-feed__side-posts-name Featured posts
				.news-feed__side-post
					a(href="#").news-feed__side-post-link
						img(src="static/images/content/post-jeans.png", alt="post-jeans").news-feed__side-post-img
						h1.news-feed__side-post-name jeans
						h1.news-feed__side-post-title One of Saturn’s largest rings may be newer than anyone
						p.news-feed__side-post-employment June 6, 2019    <span>By</span> Rickie Baroch
				.news-feed__side-post
					a(href="#").news-feed__side-post-link
						img(src="static/images/content/post-city.png", alt="post-city").news-feed__side-post-img
						h1.news-feed__side-post-name city
						h1.news-feed__side-post-title One of Saturn’s largest rings may be newer than anyone
						p.news-feed__side-post-employment June 6, 2019    <span>By</span> Rickie Baroch
				.news-feed__side-post
					a(href="#").news-feed__side-post-link
						img(src="static/images/content/post-photography.png", alt="post-photography").news-feed__side-post-img
						h1.news-feed__side-post-name Photography
						h1.news-feed__side-post-title One of Saturn’s largest rings may be newer than anyone
						p.news-feed__side-post-employment June 6, 2019    <span>By</span> Rickie Baroch		

				.news-feed__side-categories
					h1.news-feed__side-categories-name Categories	
					a(href="#").news-feed__side-category Fashion	<span>(23)</span>	
					a(href="#").news-feed__side-category Style & clothes	<span>(7)</span>	
					a(href="#").news-feed__side-category Minimalism	<span>(16)</span>	
					a(href="#").news-feed__side-category Black & White	<span>(5)</span>	
					a(href="#").news-feed__side-category Modern clothes	<span>(12)</span>	
				
				h1.news-feed__side-socials-name Social media
				.news-feed__side-socials
					.news-feed__side-socials-icon
						img(src="static/images/content/facebook.png", alt="facebook").news-feed__side-socials-icon-img
						p 32k 
						p likes
					.news-feed__side-socials-icon
						img(src="static/images/content/pinterest.png", alt="pinterest").news-feed__side-socials-icon-img
						p 844 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/vimeo.png", alt="vimeo").news-feed__side-socials-icon-img
						p 165 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/dribbble.png", alt="dribbble").news-feed__side-socials-icon-img
						p 6k 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/twitter.png", alt="twitter").news-feed__side-socials-icon-img
						p 130k 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/behance.png", alt="behance").news-feed__side-socials-icon-img
						p 37k 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/instagram.png", alt="instagram").news-feed__side-socials-icon-img
						p 854k 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/youtube.png", alt="youtube").news-feed__side-socials-icon-img
						p 52k 
						p followers
					.news-feed__side-socials-icon
						img(src="static/images/content/google.png", alt="google").news-feed__side-socials-icon-img
						p 642 
						p followers	

				h1.news-feed__side-tags-name Tags		
				.news-feed__side-tags
					a(href="#").news-feed__side-tag Business
					a(href="#").news-feed__side-tag Freelance
					a(href="#").news-feed__side-tag Money
					a(href="#").news-feed__side-tag Experience
					a(href="#").news-feed__side-tag Lifestyle
					a(href="#").news-feed__side-tag SEO
					a(href="#").news-feed__side-tag Wordpress
					a(href="#").news-feed__side-tag Marketing
					a(href="#").news-feed__side-tag UX
					a(href="#").news-feed__side-tag Modern
					a(href="#").news-feed__side-tag Success
					a(href="#").news-feed__side-tag Nature						
		
					