.footer-main
	.footer-main__navigation
		nav.footer-main__nav
			ul.footer-main__nav-list
				li.footer-main__nav-item
					a(href="#").footer-main__nav-link Home
				li.footer-main__nav-item
					a(href="#").footer-main__nav-link Recipes
				li.footer-main__nav-item
					a(href="#").footer-main__nav-link Article
				li.footer-main__nav-item
					a(href="#").footer-main__nav-link Contact
				li.footer-main__nav-item
					a(href="#").footer-main__nav-link Purchase				
		
	