footer.footer
	.container
		.footer
			h1.footer__title fashion
			include ../footer/footer-main
			.footer__socials
				a(href="#").footer__socials-icon
					img(src="static/images/content/footer-facebook.png", alt="facebook").footer__socials-image
				a(href="#").footer__socials-icon
					img(src="static/images/content/footer-twitter.png", alt="twitter").footer__socials-image
				a(href="#").footer__socials-icon
					img(src="static/images/content/footer-pinterest.png", alt="pinterest").footer__socials-image
				a(href="#").footer__socials-icon
					img(src="static/images/content/footer-google.png", alt="google").footer__socials-image
				a(href="#").footer__socials-icon
					img(src="static/images/content/footer-behance.png", alt="behance").footer__socials-image
				a(href="#").footer__socials-icon
					img(src="static/images/content/footer-instagram.png", alt="instagram").footer__socials-image
			.footer__copyright
				p.footer__copyright-text @2019 Logwork. All Right Reserved.		
					
					
